<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Circular Progress Bar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFE539EF1FDC3CAB00B4C624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFE53A031FDC3CAC00B4C624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFE53A0E1FDC3CAC00B4C624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
